# Database
DATABASE_URL="postgresql://username:password@localhost:5432/shop_inventory?schema=public"

# NextAuth
AUTH_SECRET="your-secret-key-generate-with-openssl-rand-base64-32"
AUTH_URL="http://localhost:3000"
